<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqf.warehouse.mapper.BuyListMapper">

  <insert id="insertPurchase">
    insert into buy_list values(
    null, #{productId}, #{storeId}, #{buyNum}, null, now(),
    #{supplyId}, #{placeId}, #{buyUser}, #{phone}, 0
    )
  </insert>

  <select id="selectPurchasePage" resultType="com.fqf.warehouse.entity.BuyList">
    select t1.*, t2.product_name, t3.store_name
    from buy_list t1, product t2, store t3
    where t1.product_id = t2.product_id and t1.store_id = t3.store_id

    <if test="buyList.storeId != null">
      and t1.store_id = #{buyList.storeId}
    </if>
    <if test="buyList.productName != null and buyList.productName != ''">
      and t2.product_name like concat('%', #{buyList.productName}, '%')
    </if>
    <if test="buyList.buyUser != null and buyList.buyUser != ''">
      and t1.buy_user like concat('%', #{buyList.buyUser}, '%')
    </if>
    <if test="buyList.isIn != null and buyList.isIn != ''">
      and t1.is_in = #{buyList.isIn}
    </if>
    <if test="buyList.startTime != null and buyList.startTime != ''">
      and t1.buy_time &gt;= #{buyList.startTime}
    </if>
    <if test="buyList.endTime != null and buyList.endTime != ''">
      and t1.buy_time &lt;= #{buyList.endTime}
    </if>

    order by t1.buy_time desc
    limit #{page.limitIndex}, #{page.pageSize}
  </select>

  <select id="selectPurchaseCount" resultType="int">
    select count(*) from buy_list t1, product t2, store t3
    where t1.product_id = t2.product_id and t1.store_id = t3.store_id

    <if test="storeId != null">
      and t1.store_id = #{storeId}
    </if>
    <if test="productName != null and productName != ''">
      and t2.product_name like concat('%', #{productName}, '%')
    </if>
    <if test="buyUser != null and buyUser != ''">
      and t1.buy_user like concat('%', #{buyUser}, '%')
    </if>
    <if test="isIn != null and isIn != ''">
      and t1.is_in = #{isIn}
    </if>
    <if test="startTime != null and startTime != ''">
      and t1.buy_time &gt;= #{startTime}
    </if>
    <if test="endTime != null and endTime != ''">
    and t1.buy_time &lt;= #{endTime}
    </if>
  </select>

  <delete id="removeBuyList">
    delete from buy_list where buy_id = #{buyId}
  </delete>

  <update id="updateBuyList">
    update buy_list set
    buy_num = #{buyNum}, fact_buy_num = #{factBuyNum}
    where buy_id = #{buyId}
  </update>

  <update id="updateIsInById">
    update buy_list set is_in = 1 where buy_id = #{buyId}
  </update>
</mapper>