<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqf.warehouse.mapper.StoreMapper">

  <select id="findAllStore" resultType="com.fqf.warehouse.entity.Store">
    select * from store
  </select>

  <select id="selectStorePage" resultType="com.fqf.warehouse.entity.Store">
    select * from store
    <where>
      <if test="store.storeName != null and store.storeName != ''">
        and store_name like concat('%', #{store.storeName}, '%')
      </if>
      <if test="store.storeAddress != null and store.storeAddress != ''">
        and store_address like concat('%', #{store.storeAddress}, '%')
      </if>
      <if test="store.concat != null and store.concat != ''">
        and concat like concat('%', #{store.concat}, '%')
      </if>
      <if test="store.phone != null and store.phone != ''">
        and phone like concat('%', #{store.phone}, '%')
      </if>
    </where>
    limit #{page.limitIndex}, #{page.pageSize}
  </select>

  <select id="selectStoreCount" resultType="int">
    select count(*) from store
    <where>
      <if test="storeName != null and storeName != ''">
        and store_name like concat('%', #{storeName}, '%')
      </if>
      <if test="storeAddress != null and storeAddress != ''">
        and store_address like concat('%', #{storeAddress}, '%')
      </if>
      <if test="concat != null and concat != ''">
        and concat like concat('%', #{concat}, '%')
      </if>
      <if test="phone != null and phone != ''">
        and phone like concat('%', #{phone}, '%')
      </if>
    </where>
  </select>

  <insert id="insertStore">
    insert into store values(
    null, #{storeName}, #{storeNum},
    #{storeAddress}, #{concat}, #{phone}
    )
  </insert>

  <select id="queryStore" resultType="com.fqf.warehouse.entity.Store">
    select * from store where store_num = #{storeNum}
  </select>

  <delete id="deleteStore">
    delete from store where store_id = #{storeId}
  </delete>

  <update id="updateStore">
    update store set
    store_name = #{storeName}, store_address = #{storeAddress},
    concat = #{concat}, phone = #{phone}
    where store_id = #{storeId}
  </update>
</mapper>